* {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}

h1 {
  font-weight: 900 !important;
}

h2 {
  font-weight: bold !important;
}

a {
  color: rgb(var(--v-theme-primary));
}

.text--monospace {
  font-family: "Inconsolata", monospace;
}

.page-break--avoid {
  page-break-inside: avoid;
}

.application--printing {
  font-size: 10px !important;

  .v-chip {
    height: 16px !important;
  }
}
