@use "vuetify/styles" with (
$heading-font-family: "Poppins",
$body-font-family: "Source Sans Pro",
$border-color-root: rgba(var(--v-theme-on-background), var(--v-border-opacity)),
$timeline-divider-line-background: rgba(var(--v-theme-on-background), var(--v-border-opacity)),
$card-title-word-break: break-word,
$card-title-white-space: normal !important,
);

.text--monospace {
  font-family: "Source Code Pro", monospace;
}

.page-break--avoid {
  page-break-inside: avoid;
}
