@use "vuetify/settings" with (
  $heading-font-family: "Inter",
  $body-font-family: "Inter",
  $border-color-root: rgba(var(--v-theme-on-background), var(--v-border-opacity)),
  $timeline-dot-divider-background: rgba(var(--v-theme-on-background), var(--v-border-opacity)),
  $timeline-divider-line-background: rgba(var(--v-theme-on-background), var(--v-border-opacity)),
  $card-title-word-break: break-word,
  $card-title-white-space: normal !important,
  $card-border-radius: 16px,
);
